@import '../../../styles/common.scss';

.container {
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 1310px;

    .productList {
      width: 262px;
      height: 282px;
      margin: 20px 0;
      padding: 0 15px;

      .productImg {
        width: 232px;
        height: 232px;
        cursor: pointer;
      }

      .productNameContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        .productName {
          margin-bottom: 10px;
          font-size: $font-size-regular;
          font-weight: $font-weight-bold;
          cursor: pointer;
        }

        .far,
        .fa-heart {
          color: $font-color-lightgray;
          cursor: pointer;
        }
      }
      .productPrice {
        font-weight: $font-weight-bold;
      }
    }
  }
  .nextPageContainer {
    display: flex;
    margin: 50px 580px;
    width: 1280px;

    .nextPageBox {
      width: 34px;
      height: 34px;
      font-weight: bold;
      cursor: pointer;
    }

    &.nextPageNow {
      width: 32px;
      height: 32px;
      padding: 8px;
      font-weight: bold;
      color: white;
      background-color: black;
      cursor: pointer;
    }
  }
}
