@import '../../../styles/common.scss';

.productContainer {
  left: 0;

  .productList {
    position: relative;
    // width: 262px;
    height: 345px;
    margin: 20px 0;
    padding-right: 30px;
    -webkit-transition: width 2s, height 2s, background-color 2s,
      -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;

    .productImg {
      width: 232px;
      height: 262px;
      cursor: pointer;
      object-fit: cover;
    }

    .hoverContainer {
      position: absolute;
      left: 95px;
      bottom: 100px;
      width: 150px;
      height: 60px;
      display: none;

      .falseHoverWishBox {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 10px;
        left: 5px;
        border-radius: 60px;
        background-color: white;
        opacity: 0.9;
        z-index: 1;
        cursor: pointer;

        .falseHoverWish {
          position: absolute;
          bottom: 8px;
          left: 10px;
          color: $font-color-lightgray;
          font-size: 30px;
        }
      }

      .treuHoverWishBox {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 5px;
        left: 20px;
        border-radius: 60px;
        background-color: red;
        opacity: 0.9;
        z-index: 1;
        cursor: pointer;

        .tureHoverWish {
          position: absolute;
          bottom: 8px;
          left: 10px;
          color: white;
          font-size: 30px;
        }
      }

      .hoverViewBox {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 35px;
        border-radius: 60px;
        background-color: white;
        opacity: 0.9;
        z-index: 1;
        cursor: pointer;

        .hoverView {
          position: absolute;
          right: 11px;
          color: $font-color-lightgray;
          font-size: 50px;
        }
      }
    }

    .hoverContainer:hover {
      display: block;
      transition: all ease 5s 0s;
    }

    .productNameContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      .productName {
        margin-bottom: 10px;
        font-size: $font-size-small;
        font-weight: bold;
        cursor: pointer;
      }

      .fas {
        color: red;
        cursor: pointer;
      }

      .far {
        color: $font-color-lightgray;
        cursor: pointer;
      }
    }
    .productPrice {
      font-size: $font-size-small;
      font-weight: bold;
    }

    .noneReviewRateContainer {
      display: none;
    }

    .reviewRateContainer {
      margin-top: 20px;

      .reviewText {
        font-size: $font-size-supersmall;
        margin-right: 5px;
      }

      .reviewNums {
        font-size: $font-size-supersmall;
        color: #6b90dd;
      }
      .rateText {
        font-size: $font-size-supersmall;
      }
      .rateNums {
        font-size: $font-size-supersmall;
        color: #6b90dd;
      }
    }
  }

  .productList:hover > .hoverContainer {
    display: block;
  }
}
