ul {
  display: flex;
  flex-wrap: wrap;
  width: 1310px;
}

.nextPageContainer {
  display: flex;
  justify-content: center;
  width: 1280px;
  margin-top: 100px;

  .nowPageNumBox {
    width: 32px;
    height: 32px;
    font-weight: bold;
    color: white;
    background-color: #2f2f2f;
    cursor: pointer;

    button {
      all: unset;
      padding: 11px;
    }
  }
  .nextPageNumBox {
    width: 32px;
    height: 32px;
    font-weight: bold;
    color: black;
    background-color: white;
    cursor: pointer;

    button {
      all: unset;
      padding: 11px;
    }
  }
}
