@import '../../styles/common.scss';
@import '../../styles/reset.scss';

.BannerSlider {
  letter-spacing: -0.5px;
  width: 100vw;
  height: 300px;
  background: #3c3644;
  margin: 60px 0 30px 0;

  .slick-slider {
    .slick-list div img {
      width: 100vw;
      height: 350px;
      margin: 0 auto;
      object-fit: cover;
    }

    .slick-dots {
      position: absolute;
      bottom: 14px;

      button {
        @include slick-slider-button;
        background: none;
        &:hover {
          background: none;
        }
        &::before {
          font-size: 10px;
          color: #666;
        }
      }
    }
  }

  .slick-dots li button {
    // position: relative;
    // top: -120px;
    // left: 0;
    display: none;
  }

  .banner {
    width: 70%;
    height: 230px;
    // background: #444;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;

    .image {
      display: inline;
      max-width: 360px;
      max-height: 180px;
      border-radius: 16px;
      // height: 193px;
      position: absolute;
      left: 340px;
      // top: 16px;
    }

    .titles {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 24px;
      left: 760px;

      .text {
        p {
          color: white;
          font-weight: $font-weight-medium;
          font-size: 36px;
          margin-bottom: 14px;

          &:last-of-type {
            font-weight: $font-weight-regular;
            font-size: 16px;
          }
        }
      }

      .getCoupon {
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        padding: 20px 0;
        width: 320px;
        max-height: 60px;
        border: 2px solid rgba(255,255,255,0.5);
        color: #ddd;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          background: rgba(255, 255, 255, 0.08);
        }
      }
    }
  }
}
