@import '../../styles/common.scss';

.CategoriesSlider {
  width: 1280px;

  h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: $font-weight-medium;
  }

  img {
    margin: 0 20px 12px 0;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
  }

  .productInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    font-size: 20px;
    font-weight: $font-weight-medium;

    i {
      margin-left: 4px;
      font-size: $font-size-extrasmall;
      font-weight: $font-weight-bold;
    }
  }

  .slick-slider button {
    @include slick-slider-button
  }
}