@import '../../styles/common.scss';

.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .visualContainer {
    width: 100%;
    position: absolute;

    .slick-slider {
      button {
        width: 200px;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
        z-index: 10;
        transition: all 0.2s ease;
        &:hover {background: rgba(255, 255, 255, 0.2);}
        &:first-of-type {left: 0;}
        &:last-of-type {right: 0;}
        &.slick-arrow::before {display: none;}
      }

      ul {
        position: absolute;
        bottom: 40px;

        li {
          background: none;
          button {background: none;
            &:hover {background: none;}
            &::before {
              font-size: 10px;
              color: #666;
            }
          }
        }
      }
    }
  }

  .Header {
    .searchContainer input {
      background: none;
      border: 1px solid #555;
    }
  }

  .newProductsSection {margin: 680px 0 70px 0;}

  .clickToSee {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 70px 0;

    h3 {
      width: 100%;
      text-align: center;
      font-size: 32px;
      font-weight: $font-weight-medium;
      margin-bottom: 80px;
    }

    .clickContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .buttonPlate {
        width: 700px;
        height: 450px;
        position: relative;
        margin-right: 40px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 18px;
          object-fit: cover;
        }

        div {
          width: 80px;
          height: 35px;
          position: absolute;
          top: 0;
          left: 0;
          &.button01 {
            .target01 {
              width: 14px;
              height: 14px;
              border-radius: 50%;
              border: 3px solid white;
              top: 250px;
              left: 120px;
            }
          }

          &.button02 {
            top: 210px;
            left: 570px;
          }
          &.button03 {
            top: 360px;
            left: 470px;
          }
          &.button04 {
            top: 380px;
            left: 320px;
          }
          &.button05 {
            top: 200px;
            left: 60px;
          }
        }
      }

      .descriptions {
        width: 517px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        h4 {
          font-size: 26px;
          font-weight: $font-weight-medium;
          margin: 20px 0 20px 0;
        }

        p {
          font-size: $font-size-small;
          margin-bottom: 34px;
        }

        .products {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          img {
            width: 150px;
            height: 150px;
            border-radius: 18px;
            object-fit: cover;
            margin: 14px 14px 0 0;
          }
        }
      }
    }
  }

  .bannerContainer {
    width: 100vw;
    height: 350px;
    background: #888;
    margin: 70px 0;

    .slick-slider {
      .slick-list div img {
        width: 100vw;
        height: 350px;
        margin: 0 auto;
        object-fit: cover;
      }

      .slick-dots {
        position: absolute;
        bottom: 14px;

        button {background: none;
          &:hover {background: none;}
          &::before {
            font-size: 10px;
            color: #666;
          }
        }
      }
    }
  }

  .categoriesShortcut {margin: 80px 0;}

  .reviewContainer {margin: 80px 0 140px 0;}
}
