@import '../../styles/common.scss';

.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .visualContainer {
    width: 100%;
    position: absolute;
  }

  .newProductsSection {
    margin: 860px 0 30px 0;
  }

  .clickToSee {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 60px;
  }

  .bannerContainer {
    width: 100vw;
    height: 350px;
    background: #888;
    margin: 30px 0;

    .slick-slider {
      .slick-list div img {
        width: 100vw;
        height: 350px;
        margin: 0 auto;
        object-fit: cover;
      }

      .slick-dots {
        position: absolute;
        bottom: 14px;

        button {
          background: none;
          &:hover {
            background: none;
          }
          &::before {
            font-size: 10px;
            color: #666;
          }
        }
      }
    }
  }

  .categoriesShortcut {
    margin: 80px 0 30px 0;
    cursor: pointer;
  }
  .reviewContainer {
    margin: 30px 0 140px 0;
    cursor: pointer;
  }
}
