@import '../../styles/common.scss';

.NewProductsSlider {
  width: 1280px;

  h3 {
    margin-top: 120px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: $font-weight-medium;
  }

  li {
    margin-right: 20px;
    width: 300px;
    cursor: pointer;

    img {
      margin-bottom: 16px;
      width: 300px;
      height: 300px;
      border-radius: 16px;
      object-fit: cover;
    }

    .productInfo {
      margin-bottom: 8px;

      span {
        font-size: 20px;
        font-weight: $font-weight-bold;
        &.saleRate {
          margin-right: 6px;
          color: #5a6faf;
        }
        &.originalPrice {
          margin-left: 6px;
          color: #999;
          font-size: 14px;
          font-weight: $font-weight-regular;
          text-decoration: line-through;
        }
      }
    }

    .productInfo {
      width: 300px;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: 20px;
      letter-spacing: -0.6px;
    }
  }

  .slick-slider button {@include slick-slider-button}
  .slick-slider button:last-of-type {top: -246px;}
}
