@import '../../styles/common.scss';

.ReviewAutoPlay {
  width: 100vw;
  height: 740px;

  h3 {
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: $font-weight-medium;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 36px;
    width: 408px;
    cursor: pointer;

    .productVisual {
      margin-bottom: 16px;
      width: 408px;
      height: 408px;
      position: relative;

      .productImage {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        position: absolute;
        object-fit: cover;
      }

      .action {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 18px;
        left: 0;
        width: 100%;
        height: 60px;
        opacity: 0;
        &:hover {opacity: 1;}
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 6px;
          width: 56px;
          height: 56px;
          background: rgba(255,255,255,0.2);
          border-radius: 50%;
          &:hover {background: rgba(0,0,0,.1);}
          &.clicked {
            background: #c64d4d;
          }
          img{
            width: 28px;
            height: 28px;
            filter: brightness(0) invert(1)
          }
        }
      }
    }

    .productName {
      margin: 12px 0;
      width: 380px;
      height: 30px;
      font-size: 24px;
      font-weight: $font-weight-medium;
      letter-spacing: -0.5px;
      line-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .reviewRate {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 12px 0 16px 0;

      i {
        margin: 0 2px;
        font-size: $font-size-regular;
        color: #e01b1b;
      }

      span {
        margin: 0;
        margin-left: 4px;
        font-size: 20px;
        font-weight: $font-weight-bold;
      }
    }
    .reviewContents {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      width: 408px;

      p {
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
        line-height: 20px;
      }

      img {
        margin: 0;
        margin-left: 8px;
        width: 60px;
        height: 60px;
        border-radius: 4px;
      }
    }

    .idAndCreatedAt span {
      margin-right: 4px;
      font-size: 11px;
      color: #777;
    }
  }
}
