@import '../../../../../styles/common.scss';

.reviewContentsContainer{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    .reviewLeft{
        width: 980px;
        padding: 20px;
        .stars{
            padding: 10px;

            i{
                color: red;
                font-size: 18px;
            }

            span{
                font-size: 20px;
                margin-left: 10px;
                font-weight: 900;
                color: black;
            }
        }

        .userInfo{
            width: 100%;

            span{
                font-size: 15px;

                &.userId{
                    padding: 10px;
                }
            }

            p{
                padding: 15px 10px;

                &:hover{
                    cursor: pointer;
                } 
            }
        }
    }

    .reviewRight{
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            width: 100px;

            &:hover{
                cursor: pointer;
            } 
        }

        button{
            width: 61px;
            height: 36px;
            background-color: #ffffff;
            border: 1px solid $border-color;
            border-radius: 20px;
            
            & i.far{
                color: red;
                font-size: 18px;
            }

            &:hover{
                cursor: pointer;
                background-color: $border-color;
            } 
        }
    }
}