@import '../../styles/common.scss';

* {
  box-sizing: border-box;

  .container {
    display: block;
    margin: 0 auto;
    width: 1280px;

    header {
      .banner {
        width: 1280px;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      .headerName {
        display: flex;
        justify-content: space-between;

        .listName {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
  }
}
