@import '../../styles/common.scss';

* {
  box-sizing: border-box;

  .container {
    display: block;
    margin: 0 auto;
    width: 1280px;

    header {
      .banner {
        width: 1280px;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      .headerName {
        display: flex;
        justify-content: space-between;

        .listName {
          font-size: 22px;
          font-weight: bold;
        }

        .home {
          color: $font-color-gray;
          font-size: $font-size-regular;
        }

        .listDropDown {
          border: none;
          cursor: pointer;

          // .dropDownOption {
          //   background-color: white;
          // }
        }
      }
    }
    .filterContainer {
      display: flex;
      justify-content: space-between;
      width: 1280px;
      margin-top: 50px;

      .productFilter {
        display: flex;
        list-style: none;
        cursor: pointer;

        .fas {
        }

        li {
          margin-right: 5px;
        }
      }

      .viewFilterContainer {
        display: flex;

        .viewDropdown {
          border: none;
          margin: 10px;
          cursor: pointer;
        }

        .viewIconContainer {
          display: flex;
          color: gray;
          // color: white;

          .iconBox {
            width: 32px;
            height: 32px;
            padding: 8px;
            border: 1px solid lightgray;
            cursor: pointer;
            // background-color: #302e30;
          }
        }
      }
    }
  }
}
