@import '../../styles/common.scss';

.CartItem {
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1280px;
    height: 130px;

    &:last-of-type {
      border-bottom: 1px solid #777;
    }

    &.title {
      height: 48px;
      border-top: 2px solid #000;
    }

    &.items {
      border-top: 1px solid #ccc;
    }

    .checkbox {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 3px;
      border: 1px solid #ccc;

      i {
        color: #ddd;
        font-size: 12px;
      }

      &.checked {
        box-sizing: border-box;
        background: $primary-color;
        border: none;

        i {
          color: white;
          font-size: 12px;
        }
      }

      &.soldOut {
        cursor: default;
      }
    }

    .productDetail {
      margin-left: 19px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 530px;
      height: 130px;
      &:first-of-type {
        height: 48px;
      }
      &.items {
        border-right: 1px solid #f4f4f4;
      }

      img {
        width: 96px;
        height: 96px;
        object-fit: cover;
        cursor: pointer;
      }

      .detailBox {
        margin: 0 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: 92px;

        .detail {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          top: -4px;
          left: 0;
          width: 100%;
          height: 24px;
          color: #777;
          font-size: $font-size-extrasmall;
          font-weight: $font-weight-regular;
          text-decoration: underline;
          cursor: pointer;

          .nPayBtn {
            width: 51px;
            height: 16px;
            margin-left: 4px;
          }
        }

        .productName {
          margin-bottom: 8px;
          width: 100%;
          font-weight: $font-weight-medium;
          font-size: $font-size-small;
          cursor: pointer;
        }

        .price {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: $font-weight-bold;
          font-size: $font-size-regular;

          .original {
            margin-left: 6px;
            font-weight: $font-weight-regular;
            font-size: $font-size-extrasmall;
            color: #777;
            text-decoration: line-through;
          }
        }

        .delete {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 12px;
          top: 0;
          color: #bbb;
          cursor: pointer;
          width: 17px;
          height: 17px;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg); /* IE 9 */
          -webkit-transform: rotate(45deg); /* Safari and Chrome */
          &:before,
          &:after {
            content: '';
            position: absolute;
            background: #c4c4c4;
          }
          &:before {
            left: 45%;
            width: 1px;
            height: 14px;
          }
          &:after {
            top: 45%;
            height: 1px;
            width: 14px;
          }
        }
      }
    }

    .options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 19px;
      width: 370px;
      height: 100%;
      background: #fefefe;
      &.items {
        border-right: 1px solid #f4f4f4;
      }

      .option {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 19px;
        padding-bottom: 19px;
        font-size: $font-size-extrasmall;
        font-weight: $font-weight-regular;
        border-bottom: 1px solid #f4f4f4;
        &.soldOut {
          color: #999;
        }

        .unavailable {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 6px;
          width: 56px;
          height: 20px;
          background: #f7552c;
          font-size: $font-size-supersmall;
          font-weight: $font-weight-medium;
          color: white;
        }
      }

      .modify {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 19px;
        width: 100%;
        height: 50px;
        // background: #999;

        .plus,
        .amount,
        .subtract {
          margin-left: 5px;
          width: 30px;
          height: 30px;
        }

        .plus,
        .subtract {
          border: 1px solid #ccc;
          cursor: pointer;
          &.soldOut {
            cursor: default;
          }
        }

        .amount {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $font-size-small;
          font-weight: $font-weight-medium;
          &.soldOut {
            color: #bbb;
          }
        }

        .plus {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          position: relative;
          &:before,
          &:after {
            content: '';
            position: absolute;
            background: #aaa;
            &.soldOut {
              background: #f4f4f4;
            }
          }
          &:before {
            left: 50%;
            width: 1px;
            height: 18px;
          }

          &:after {
            top: 50%;
            height: 1px;
            width: 18px;
          }
          &.soldOut:after,
          &.soldOut:before {
            background: #ddd;
          }
        }

        .subtract {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          position: relative;
          &:before,
          &:after {
            content: '';
            position: absolute;
            background: #aaa;
          }
          &.soldOut:after {
            background: #ddd;
          }
          &:after {
            top: 50%;
            height: 1px;
            width: 16px;
          }
        }
      }
    }

    .priceInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 19px;
      width: 170px;
      height: 100%;
      background: #fefefe;

      .price {
        margin-bottom: 8px;
        font-weight: $font-weight-bold;
        font-size: $font-size-medium;
        &.soldOut {
          color: #777;
        }
      }

      .order {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 26px;
        background: $primary-color;
        font-size: $font-size-extrasmall;
        font-weight: $font-weight-medium;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        &.soldOut {
          background: #fafafa;
          border: 1px solid #f1f1f1;
          color: #aaa;
          cursor: default;
        }
      }
    }
  }
}
