@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
$font-size-supersmall: 12px;
$font-size-extrasmall: 13px;
$font-size-small: 14px;
$font-size-regular: 15px;
$font-size-medium: 16px;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$font-color-lightgray: #bdbdbd;
$font-color-gray: #909090;
$font-color-black: #191919;
$font-color-lighterblack: #333;
$font-color-lightblue: #bbd6ed;
$font-color-blue: #1e93f2;
$primary-color: #01b901;
$border-color: #f8f9fa;

@mixin slick-slider-button {
  width: 70px;
  height: 70px;
  position: relative;
  cursor: pointer;
  & {
    opacity: 0.2;
  }
  &:hover {
    opacity: 0.8;
  }
  &:first-of-type {
    top: 225px;
    left: -160px;
  }
  &:last-of-type {
    top: -212px;
    left: 1340px;
    transform: rotate(180deg);
  }
  &::before,
  &::after {
    position: absolute;
    left: 32px;
    content: ' ';
    height: 26px;
    width: 2px;
  }
  &::before {
    transform: rotate(45deg);
    top: 12px;
    background-color: #000;
  }
  &::after {
    transform: rotate(-45deg);
    top: 30px;
    background-color: #000;
  }
  &.slick-arrow {
    border: 1px solid #000;
    &:hover {
      border: 1px solid #000;
    }
    &::before {
      font-size: 40px;
      opacity: 1;
    }
  }
}

body {
  font-family: 'Open Sans', 'Noto Sans KR', 'sans-serif';
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
