@import '../../styles/common.scss';

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 206px;
  border-bottom: 1px solid #dbdbdb;

  header {
    width: 1280px;
    height: 100%;
    position: relative;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 37px;

      .navIconLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
          width: 46px;
          -webkit-filter: grayscale(100%) brightness(50%);
          filter: grayscale(100%) brightness(98%);
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 12px;

          img {
            width: 14px;
            opacity: .5;
          }

          span {
            font-size: 11px;
            color: #999;
            margin-left: 3px;
          }
        }
      }

      .navIconRight {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          width: 46px;
          height: 20px;
          border: #bdbdbd;
          font-size: 11px;
          color: #444;
          border: 1px solid #bbb;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
        }

        img {
          width: 16px;
          opacity: .6;
        }
      }
    }
    
    .logoHeader {
      width: 100%;
      height: 97px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      h1 {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        img {width: 200px;}
      }

      .searchContainer {
        position: absolute;
        right: 0;
        top: 30px;
  
        input {
          width: 218px;
          height: 38px;
          background: #f5f5f5;
          position: relative;
          border: none;
          border-radius: 20px;
          padding-left: 16px;
          font-size: 12px;
          color: #555;
          &:focus { outline: none; }
        }
  
        img {
          width: 16px;
          position: absolute;
          top: 11px;
          right: 18px;
          opacity: .8;
        }
      }
    }

    .topMenu {
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover > div {
          font-weight: $font-weight-bold;
          color: #6c83c7;
        }
        &:hover > img {
          -webkit-filter: opacity(.5) drop-shadow(0 0 0 #5a6faf);
          filter: opacity(.5) drop-shadow(0 0 0 #6c83c7);
        }

        div {
          font-size: $font-size-small;
          font-weight: $font-weight-medium;
        }

        img {
          width: 8px;
          transform: rotate(90deg);
          margin-left: 7px;
        }
      }
    }
  }
}