@import '../../styles/common.scss';

* {
  box-sizing: border-box;
  border: 1px solid #dadada;

  .container {
    width: 1280px;

    header {
      .logoImg {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 40px;
        margin-bottom: 60px;
        object-fit: contain;
      }
    }

    .label {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
    }

    .validationMassage {
      display: block;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: $font-size-supersmall;
      color: red;
    }

    .signUpForm {
      display: block;
      margin: 0 auto;
      width: 450px;
      padding-bottom: 30px;

      .emailBox {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
      }

      .emailBox::placeholder {
        padding-right: 5px;
        text-align: end;
        color: $font-color-lightgray;
        font-weight: $font-weight-bold;
      }

      .pwBox {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
      }

      .rePwBox {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
      }
    }

    .userInfoForm {
      display: block;
      margin: 0 auto;
      width: 450px;
      // height: 400px;
      // padding-bottom: 30px;

      .name {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
      }
      .birthDate {
        display: flex;
        justify-content: space-between;
        width: 450px;
        height: 50px;
        margin-bottom: 10px;

        .birthYear {
          width: 146px;
          height: 50px;
        }

        .birthMonth {
          width: 146px;
          height: 50px;
        }

        .birthDay {
          width: 146px;
          height: 50px;
        }

        .birthYear,
        .birthMonth,
        .birthDay {
          padding: 10px 10px;
        }
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        // position: relative;
        // display: inline-block;

        .dropbtn {
          width: 450px;
          height: 50px;
          border: 1px solid lightgrey;
          padding: 16px;
          margin-bottom: 10px;
          background-color: white;
          cursor: pointer;
        }

        .dropbtn::placeholder {
          color: black;
        }

        /* Dropdown button on hover & focus */
        // .dropbtn:hover,
        // .dropbtn:focus {
        //   background-color: #3e8e41;
        // }

        /* Dropdown Content (Hidden by Default) */
        .dropdownContent {
          display: block;
          margin: 0 auto;
          padding-top: 5px;
          padding-bottom: 5px;
          position: relative;
          width: 430px;
          margin-top: -70px;
          border: 1px solid lightgray;
          border-radius: 10px;
          background-color: #f5f6f7;
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);

          ul {
            .dropList {
              // display: none;
              // display: block;
              // margin: 0 auto;
              width: 430px;
              height: 30px;
              // position: absolute;
              font-size: $font-size-extrasmall;
              color: black;
              padding: 12px 16px;
              list-style: none;
            }
            .dropList:hover {
              background-color: #01b901;
            }
          }
        }

        .displayNone {
          display: none;
        }
      }
    }

    .phoneValidationForm {
      display: block;
      margin: 0 auto;
      width: 450px;
      // padding-bottom: 30px;

      .countryNumber {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
        padding: 10px 10px;
      }

      .phoneNumber {
        width: 335px;
        height: 50px;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 10px 10px;
      }

      .validationBtn {
        all: unset;
        width: 110px;
        height: 50px;
        margin-bottom: 10px;
        color: white;
        text-align: center;
        background-color: $primary-color;
        cursor: pointer;
      }

      .validationNumber {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
        padding: 10px 10px;
      }
    }

    .signUpBtnForm {
      display: block;
      margin: 0 auto;
      width: 450px;
      padding-bottom: 30px;

      .signUpBtn {
        all: unset;
        width: 450px;
        height: 50px;
        text-align: center;
        color: white;
        background-color: $primary-color;
      }
    }

    footer {
      display: block;
      margin: 0 auto;
      width: 450px;
      color: $font-color-gray;
      text-align: center;

      .footer {
        display: flex;
        justify-content: center;
        font-size: $font-size-extrasmall;

        li {
          margin-left: 5px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
          }
        }

        .companyName {
          font-size: $font-size-supersmall;
        }
      }
    }
  }
}
