@import '../../styles/common.scss';

.signUp {
  width: 1280px;
  margin: 0 auto;

  header {
    .logoImg {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 40px;
      margin-bottom: 60px;
      object-fit: contain;
    }
  }

  .idPwForm {
    .idBox,
    .pwBox,
    .rePwBox {
      display: block;
      margin: 0 auto;
      width: 450px;

      .idPwBox {
        width: 450px;
        height: 50px;
        margin-bottom: 10px;
        border: 1px solid #dadada;
      }

      .idPwBox::placeholder {
        padding-right: 5px;
        text-align: end;
        color: $font-color-lightgray;
        font-weight: $font-weight-bold;
      }
    }
  }

  .label {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }

  .validationMassage {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: $font-size-supersmall;
    color: red;
  }

  .userInfoForm {
    display: block;
    margin: 0 auto;
    width: 450px;

    .name {
      width: 450px;
      height: 50px;
      margin-bottom: 10px;
      border: 1px solid #dadada;
    }
    .birthDate {
      display: flex;
      justify-content: space-between;
      width: 450px;
      height: 50px;
      margin-bottom: 10px;

      .birthYear,
      .birthMonth,
      .birthDay {
        width: 146px;
        height: 50px;
        border: 1px solid #dadada;
        padding: 10px 10px;
      }
    }
    .genderDropdown {
      width: 450px;
      height: 50px;
      margin-bottom: 10px;
      border: 1px solid #dadada;
    }
  }

  .phoneValidationForm {
    display: block;
    margin: 0 auto;
    width: 450px;

    .countryNumber,
    .validationNumber {
      width: 450px;
      height: 50px;
      margin-bottom: 10px;
      padding: 10px 10px;
      border: 1px solid #dadada;
    }

    .phoneNumber {
      width: 335px;
      height: 50px;
      margin-bottom: 10px;
      margin-right: 5px;
      padding: 10px 10px;
      border: 1px solid #dadada;
    }

    .validationBtn {
      all: unset;
      width: 110px;
      height: 50px;
      margin-bottom: 10px;
      color: white;
      text-align: center;
      background-color: $primary-color;
      cursor: pointer;
    }

    .validationBtn:hover {
      opacity: 0.8;
    }
  }

  .signUpBtnForm {
    display: block;
    margin: 0 auto;
    width: 450px;
    padding-bottom: 30px;

    .signUpBtn {
      all: unset;
      width: 450px;
      height: 50px;
      text-align: center;
      color: white;
      background-color: $primary-color;
      cursor: pointer;
    }

    .signUpBtn:hover {
      opacity: 0.8;
    }
  }
}
